
#box-1 {
    background: rgb(157,78,244);
    background: linear-gradient(340deg, rgba(157,78,244,1) 0%, rgba(255,31,91,1) 100%);
}

#box-2 {
    background: rgb(119,101,227);
    background: linear-gradient(11deg, rgba(119,101,227,1) 0%, rgba(43,60,205,1) 100%);
    color: white;
}

#box-3 {
    background: rgb(255,170,26);
    background: linear-gradient(350deg, rgba(255,170,26,1) 0%, rgba(255,75,113,1) 100%);
}

.message-box-unread {
    background: rgb(94,58,248);
    background: linear-gradient(5deg, rgba(74,34,247,1) 0%, rgba(94,58,248,1) 99%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: bold;
    overflow: auto;
}

.message-box-read {
    background: rgb(40,40,40);
    background: linear-gradient(5deg, rgba(40,40,40,1) 0%, rgba(80,80,80,1) 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: auto;
}