
#box-1 {
    background: rgb(131,5,218);
    background: linear-gradient(140deg, rgba(131,5,218,1) 0%, rgba(68,7,110,1) 100%);
    font-weight: bold;
}

#box-2 {
    /* background: rgb(250,136,31);
    background: linear-gradient(210deg, rgba(250,136,31,1) 0%, rgba(43,18,217,1) 100%); */
    background: rgb(81,5,218);
    background: linear-gradient(203deg, rgba(81,5,218,1) 0%, rgba(49,0,130,1) 100%);
    font-weight: bold;
}

#box-3 {
    /* background: rgb(250,154,31);
    background: linear-gradient(203deg, rgba(250,154,31,1) 0%, rgba(154,35,0,1) 100%); */
    background: rgb(213,251,115);
    color: #303fcb;
    background: linear-gradient(203deg, rgba(213,251,115,1) 0%, rgba(115,197,33,1) 100%);
    font-weight: bold;
}

.message-box-unread {
    background: rgb(94,58,248);
    background: linear-gradient(5deg, rgba(74,34,247,1) 0%, rgba(94,58,248,1) 99%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: bold;
    overflow: auto;
}

.message-box-read {
    background: rgb(40,40,40);
    background: linear-gradient(5deg, rgb(28, 28, 30) 0%, rgb(43, 40, 59) 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}