#dashboard-top-content {
    grid-column: col-start 2 / span 8;
    grid-row: 2 / span 5;
    display: flex;
    flex-direction: row;
    width: 120%;
    margin: 0px 10px;
}

#dashboard-middle-content:first-child {
    justify-content: flex-start;
}

#dashboard-bottom-content {
    grid-column: col-start 2 / span 6;
    grid-row: 8 / span 4;
    height: 390px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}